.title {
  padding-top: 1rem;
}

.line-header,
.line-content {
  width: 30%;
  height: 2px;
  border-width: 0;
  opacity: 1;
}

.line-header {
  color: var(--black);
  background-color: var(--black);
  margin: 1rem auto;
  width: 100%;
}

.line-content {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-dark);
}

.align-end {
  text-align: right;
  margin-left: auto;
}

.text-justify {
  text-align: justify;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  cursor: default;
}

img:hover {
  scale: 1.1;
}

.title:hover {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      var(--primary-color-dark) 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 992px) {
  .row>* {
    width: 100%;
  }
}

.left {
  margin-left: 8px;
}

span {
  font-size: var(--heading-fontSize);
}

.waviy:hover > span{ 
  cursor: default;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}