.hero-section {
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    border-radius: 0 0 50px 50px;
}

.hero-section__bg {
    background: url('../assets/images/hero-bg.jpg');
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-section__content {
    background-color: var(--hero-bg);
    padding: 2rem;

}

.product-best-sell {
    background-color: var(--primary-color-dark);
    color: white;
}

.product-best-sell__img img {
    object-fit: contain;
    height: 20rem;
}
 

@media (max-width: 575.98px) {


}

@media (max-width: 991.98px) {

    .product-best-sell__img {
        display: none;
    }
    .product-best-sell__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}