.product-item {
    width: 20rem;
}

.product-item__img {
    padding: 3rem 3.825rem 1rem 3.825rem;
}

.product-item__des {
    font-family:'Open Sans', sans-serif;
}

.product-item__des--title {
    opacity: 0.65;
    font-weight: 700;
    font-size: 1.3rem;
}

.product-item__des--value {
    opacity: 0.65;
    font-weight: 600;
    font-size: 1.1rem;
}